<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raskaussovellus">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaskausSovellus">
        <activity android:name=".Numbers"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NeutralNamesActivity"
            android:parentActivityName=".GenderNamesActivity" />
        <activity
            android:name=".FemaleNamesActivity"
            android:parentActivityName=".GenderNamesActivity" />
        <activity
            android:name=".MaleNamesActivity"
            android:parentActivityName=".GenderNamesActivity" />
        <activity
            android:name=".GenderNamesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LogInspect"
            android:parentActivityName=".LogHistoryActivity" />
        <activity
            android:name=".LogHistoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DataAnalysis"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Alarm"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".CalendarInput"
            android:parentActivityName=".CalendarActivity" />
        <activity
            android:name=".InfoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalendarActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.RaskausSovellus.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>